h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

table{
    margin: 0 auto;
}

td {
  background-color: black;
  height: 200px;
  width: 100px;
  border: 5px solid white;
}

#one{
  background-color: #3D5A80;
}
#two{
  background-color: #98C1D9;
}
#three{
  background-color: #E0FBFC;
}
#four{
  background-color: #EE6C4D;
}
#five{
  background-color: #293241;
}
