body{
font-family: 'Marck Script', cursive;
background-color: #293241;
color: #EE6C4D;
text-align: center;
border: 40px solid #ed7c07;
padding: 20px
}
form{
  font-size: 1.5em
  margin-bottom:10px;
}

#sub{
  background-color: #968484;
  height: 32px;
  width: 180px
  margin-top:16px;
  border-radius: 10px;
}
